.item{
    width: 280px;
    img{
        width: 280px;
    }
    p{
        margin: 6px 0;
    }
    .item-prices{
        display: flex;
        gap: 20p;
        .item-price-new{
            color: #374151;
            font-size: 18px;
            font-weight: 600;
            margin-right: 20px;
        }
        .item-price-old{
            color: #8c8c8c;
            font-size: 18px;
            font-weight: 500;
            text-decoration: line-through;
        }
    }
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
@media(max-width:1280px){
    .item{
        width: 100%;
        font-size: 14px;
        img{
            width: 100%;

        }
        .item-price-old{
            font-size: 14px;
        }
    }
}
@media(max-width:1024px){
    .item{
        width: 100%;
        font-size: 13px;
        img{
            width: 100%;

        }
        .item-price-old{
            font-size: 13px;
        }
    }


}
@media(max-width:800px){
    .item{
        width: 100%;
        font-size: 16px;
        img{
            width: 100%;

        }
        .item-prices{
            display: flex;
            justify-content: space-between;
            .item-price-new{
                color: tomato;
            }
            .item-price-old{
                font-size: 16px;
            }
        }
        .item-price-old{
            font-size: 12px;
        }
    }

}
@media(max-width:500px){
    .item{
        width: 100%;
        font-size: 13px;
        img{
            width: 100%;

        }
        p{
            min-height: 35px;
        }
        .item-price-old{
            font-size: 13px;
        }
    }

}