.footer{
    color: #4d4949;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    padding: 20px 8vw;
    padding-top: 80px;
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;

    .footer-content-left, .footer-content-right, .footer-content-center{
        display: flex;
        flex-direction: column;
        align-items: start;
       
        gap: 20px;
        ul{
            padding: 0px;
            width: 100%;
            text-align: start;
            li{
                list-style: none;
                margin-bottom: 10px;
                cursor: pointer;
                
            }
            #ttstore{
                color: tomato;
            }
            h2{
                color: #000;
            }
            .footer-social-icons{
                img{
                    width: 40px;
                    margin-right: 15px;
                    padding-right: 5px;
     
                }
            }
        }
    }
}
hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}
}
@media(max-width:1024px){
    .footer{
        .footer-content{
            .footer-content-center,.footer-content-left, .footer-content-right{
                h2{
                    min-height: 60px;
                }
            }
        }
    }
}
@media(max-width:800px){
    .footer{
        max-height: 400px;
        padding-top: 50px;
        .footer-content{
            .footer-content-left{
                h2{
                    font-size: 16px;
                    min-height: 40px;
                }
                .footer-social-icons{
                    width: 100%;
                    img{
                        width: 20%;
                    }
                }
            }
            .footer-content-center, .footer-content-right{
                h2{
                    min-height: 40px;
                    font-size: 16px;
                }
                ul{
                    li{
                        font-size: 12px;
                    }
                }
            }
           
        }
    }
}
@media(max-width:500px) {
    .footer{
        hr{
            margin: 2px 0px;
        }
        p{
            text-align: center;
            font-size: 12px;
        }
    }
    
}
